In [ ]:
USE WAREHOUSE CAT_wh;

USE DATABASE RAW3;

USE SCHEMA F1_3;

-- Creating the Team Tables
-- Used UPPER() for the TEAM column to ensure consistency when joining
CREATE OR REPLACE TABLE TEAM_STATS AS
SELECT
    a.GRAND_PRIX,
    a.DATE AS DATE,
    a.PTS AS POINTS_WON,
    a.YEAR,
    a.TEAM AS TEAM_NAME,
    b.POS AS TEAM_OVERALL_POS,
    b.PTS AS TOTAL_PTS
FROM
    TEAM_DETAILS a
LEFT JOIN
    CONSTRUCTOR_STANDINGS b
ON
    a.YEAR = b.YEAR
    AND UPPER(a.TEAM) = UPPER(b.TEAM);


-- Checking for nulls in the database
SELECT * 
FROM TEAM_STATS
WHERE GRAND_PRIX IS NULL
    OR DATE IS NULL
    OR POINTS_WON IS NULL
    OR YEAR IS NULL
    OR TEAM_NAME IS NULL
    OR TEAM_OVERALL_POS IS NULL
    OR TOTAL_PTS IS NULL;

-- Updating the nulls based on the dataset since there is a small number of nulls
-- and all are under the same year and same team
UPDATE TEAM_STATS
SET TEAM_OVERALL_POS = 9,
    TOTAL_PTS = 6
WHERE TEAM_OVERALL_POS IS NULL
    AND TOTAL_PTS IS NULL
    AND YEAR = 1975
    AND TEAM_NAME = 'Frank Williams Racing Cars';


-- Checking for nulls again
SELECT * 
FROM TEAM_STATS
WHERE GRAND_PRIX IS NULL
    OR DATE IS NULL
    OR POINTS_WON IS NULL
    OR YEAR IS NULL
    OR TEAM_NAME IS NULL
    OR TEAM_OVERALL_POS IS NULL
    OR TOTAL_PTS IS NULL;