Dynamic Table for Driver

In [ ]:
create or replace dynamic table DT_DRIVER_TABLE
    target_lag = 'DOWNSTREAM'
    warehouse = CATFISH_WH
    refresh_mode = incremental
    initialize = on_create
    as
WITH remove_duplicates AS (
    SELECT DISTINCT
        d.car as CAR,
        d.detail as DETAIL,
        d.DRIVER as DRIVER,
        d.DRIVERCODE as DRIVERCODE,
        d.GAP as GAP,
        d.GRAND_PRIX as GRAND_PRIX,
        d.LAP as LAP,
        d.nationality as NATIONALITY,
        d.race_position as RACE_POSITION,
        d.STOPS as STOPS,
        d.TIME as TIME ,
        d.YEAR as YEAR, 
        ROW_NUMBER() OVER (
            PARTITION BY    d.car,
                d.detail,
                d.driver,
                d.drivercode,
                d.gap,
                d.grand_prix,
                d.lap,
                d.nationality,
                d.race_position,
                d.stops,
                d.time,
                d.year
            ORDER BY d.year
        ) AS row_num
from RAW3.F1_3.DRIVER_TABLE d
)
select *
from remove_duplicates
where row_num = 1;

SELECT * 
FROM DT_DRIVER_TABLE